@model MedManagement.Data.Evaluation

@{
    ViewData["Title"] = "Delete";
}

<h3 style="text-align:center;">Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row" style="margin:auto;">
        <div class="col-md-4" style="margin:auto;">
        <dt class = "col-sm-8">
                Evaluation Value
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.EvaluationValue)
        </dd>
        <dt class = "col-sm-8">
                Evaluation Descryption
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.EvaluationDesctyption)
        </dd>
        <dt class = "col-sm-8">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Doctor.DoctorName)
        </dd>
        <dt class = "col-sm-8">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Patient.PatientID)
        </dd>
        </div>
    </dl>
    
    <form asp-action="Delete" style="text-align:center; padding-top: 20px;">
        <input type="hidden" asp-for="EvaluationID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a type="button" class="btn btn-secondary" asp-action="Index">Back to List</a>
    </form>
</div>
