@model MedManagement.Data.Evaluation

@{
    ViewData["Title"] = "Details";
}
<h1 style="text-align:center;">Details</h1>

<div>
    <hr />
    <dl class="row" style="margin:auto;">
        <div class="col-md-4" style="margin:auto;">
        <dt class = "col-sm-8">
                Evaluation Value
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.EvaluationValue)
        </dd>
        <dt class = "col-sm-8">
                Evaluation Descryption
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.EvaluationDesctyption)
        </dd>
        <dt class = "col-sm-8">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Doctor.DoctorName)
        </dd>
        <dt class = "col-sm-8">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Patient.PatientID)
        </dd>
        </div>
    </dl>
</div>
<div style="text-align:center; padding-top: 20px;">
    <a type="button" class="btn btn-info" asp-action="Edit" asp-route-id="@Model?.EvaluationID">Edit</a> 
    <a type="button" class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>
