@model MedManagement.Data.Evaluation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Evaluation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvaluationValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvaluationValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvaluationDesctyption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvaluationDesctyption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.DoctorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.PatientID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EvaluationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
