@model IEnumerable<MedManagement.Data.Evaluation>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center">Evaluations</h1>

<p style="text-align: right">
    <a type="button" class="btn btn-primary" asp-action="Create">Create New</a>
</p> 
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Evaluation Value
            </th>
            <th>
                Evaluation Desctyption
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EvaluationValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EvaluationDesctyption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.DoctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.PatientID)
            </td>
            <td>
                    <a type="button" class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.EvaluationID">Edit</a> 
                    <a type="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.EvaluationID">Details</a> 
                    <a type="button" class="btn btn-dark" asp-action="Delete" asp-route-id="@item.EvaluationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
