@model IEnumerable<MedManagement.Data.Patient>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center">Patients</h1>

<p style="text-align: right">
    <a type="button" class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Patient name
            </th>
            <th>
                Patient surname
            </th>
            <th>
                Age
            </th>
            <th>
                Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientType)
            </td>
            <td>
                <a type="button" class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.PatientID">Edit</a>
                    <a type="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.PatientID">Details</a>
                    <a type="button" class="btn btn-dark" asp-action="Delete" asp-route-id="@item.PatientID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
