@model MedManagement.Data.Doctor

@{
    ViewData["Title"] = "Delete";
}


<h3 style="text-align:center;">Are you sure you want to delete this?</h3>
<div>
 
    <hr />
    <div style="text-align:center;">
        <img src="@Html.DisplayFor(model => model.DoctorPhoto)" style="width: 150px;">
    </div>
    <dl class="row" style="margin:auto;">
        <div class="col-md-4" style="margin:auto;">
            <dt class="col-sm-4">
                Doctor name
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.DoctorName)
            </dd>
            <dt class="col-sm-4">
                Doctor surname
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.DoctorSurname)
            </dd>
            <dt class="col-sm-4">
                Medical specialization
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.DoctorMedicalSpecialization)
            </dd>
            <dt class="col-sm-4">
                About
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.DoctorAboutMe)
            </dd>
            <dt class="col-sm-4">
                Phone
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.DoctorPhone)
            </dd>
        </div>
    </dl>
    
    <form asp-action="Delete" style="text-align:center; padding-top: 20px;">
        <input type="hidden" asp-for="DoctorID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a type="button" class="btn btn-secondary" asp-action="Index">Back to List</a>
    </form>
</div>
