@model MedManagement.Data.Doctor

@{
    ViewData["Title"] = "Details";
}

<h1 style="text-align:center;">Details</h1>
<div style="margin:auto;">
    <hr />
    <div style="text-align:center;">
        <img src="@Html.DisplayFor(model => model.DoctorPhoto)" style="width: 150px;">
    </div>

    <dl class="row" style="margin:auto;">
        <div class="col-md-4" style="margin:auto;">
        <dt class = "col-sm-4">
            Doctor name
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.DoctorName)
        </dd>
        <dt class = "col-sm-4">
            Doctor surname
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.DoctorSurname)
        </dd>
        <dt class = "col-sm-4">
            Medical specialization
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.DoctorMedicalSpecialization)
        </dd>
        <dt class = "col-sm-4">
            About
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.DoctorAboutMe)
        </dd>
        <dt class = "col-sm-4">
            Phone
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.DoctorPhone)
        </dd>
            </div>
    </dl>

</div>
<div style="text-align:center; padding-top: 20px;">
    <a type="button" class="btn btn-info" asp-route-id="@Model?.DoctorID">Edit</a>
    <a type="button" class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>
