@model IEnumerable<MedManagement.Data.Doctor>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center">Doctors</h1>

<p style="text-align: right">
    <a type="button" class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Doctor Name
            </th>
            <th>
                Doctor Surname
            </th>
            <th>
                Doctor Photo
            </th>
            <th>
                Doctor Medical Specialization
            </th>
            <th>
                Doctor About Me
            </th>
            <th>
                Doctor Phone
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorSurname)
            </td>
            <td>
                    <img src="@Html.DisplayFor(modelItem => item.DoctorPhoto)" style="width: 150px;">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorMedicalSpecialization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorAboutMe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorPhone)
            </td>
            <td>
                    <a type="button" class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.DoctorID">Edit</a> 
                    <a type="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.DoctorID">Details</a> 
                    <a type="button" class="btn btn-dark" asp-action="Delete" asp-route-id="@item.DoctorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
