@model IEnumerable<MedManagement.Data.DoctorMedicalFacility>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center">Doctor medical facilities</h1>

<p style="text-align: right">
    <a type="button" class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                Medical Facility Place
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.DoctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalFacility.City)
            </td>
            <td>
                    <a type="button" class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.ID">Edit</a> 
                    <a type="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.ID">Details</a> 
                    <a type="button" class="btn btn-dark" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
