@model MedManagement.Data.Terms

@{
    ViewData["Title"] = "Delete";
}

<h3 style="text-align:center;">Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row" style="margin:auto;">
        <div class="col-md-4" style="margin:auto;">
        <dt class = "col-sm-2">
               Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBusy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBusy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalFacility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicalFacility.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.DoctorName)
        </dd>
        </div>
    </dl>
    
    <form asp-action="Delete" style="text-align:center; padding-top: 20px;">
        <input type="hidden" asp-for="TermsID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a type="button" class="btn btn-secondary" asp-action="Index">Back to List</a>
    </form>
</div>
