@model MedManagement.Data.Terms

@{
    ViewData["Title"] = "Details";
}

<h1 style="text-align:center;">Details</h1>

<div>

    <hr />
    <dl class="row" style="margin:auto;">
        <div class="col-md-4" style="margin:auto;"
        <dt class = "col-sm-4">
           <b>Created Date</b>
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-4">
            Last Updated On
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.LastUpdatedOn)
        </dd>
        <dt class = "col-sm-4">
            Is Busy
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.IsBusy)
        </dd>
        <dt class = "col-sm-4">
            Medical Facility
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.MedicalFacility.City)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Doctor.DoctorName)
        </dd>
        </div>
    </dl>
</div>
<div style="text-align:center; padding-top: 20px;">
    <a type="button" class="btn btn-info" asp-action="Edit" asp-route-id="@Model?.TermsID">Edit</a> 
    <a type="button" class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>
