@model MedManagement.Data.Terms

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Terms</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBusy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBusy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalFacility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicalFacility.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.DoctorName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TermsID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
