@model IEnumerable<MedManagement.Data.Terms>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBusy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalFacility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBusy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalFacility.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.DoctorName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TermsID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TermsID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TermsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
